* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background-color: rgba(243, 199, 199, 0.863);
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: black;
}


.divButton {
    margin-top: 90px;
}

.subtitulo {
    margin-top: 20px;
    padding-left: 10px;
    /* background: radial-gradient(#ca1d1d, rgba(243, 199, 199, 0.863) ); */
}

.galeria {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.card {
    width: 80%;
    height: 420px;
    background-color: #e2dcdc;
}

.img {
    object-fit: cover;
    height: 70%;
    border-radius: 5px;
}

.descripcion {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}


.titulo a {
    text-decoration: none;
    color: black;
}


@media screen and (min-width: 768px) {



     .section {
        margin-top: 50px;
    }

    .subtitulo {
        padding-top: 5px;
    }


    .galeria {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 100px;
    }

    .img {
        object-fit: cover;
        height: 70%;
    }

    .descripcion {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }







    /* Reemplazado por Boostrap */
    /* .botonComprar {
        color:black;
        font-size: 15px;
        font-family: 'Nunito', sans-serif;
        padding: .5rem;
        width: 100px;
        border: 1px solid black;
        border-radius: 1rem;
        background: none;
    } */


    



    

    
    
    
}

























































